In [2]:
%load_ext sql
import csv, sqlite3
conn = sqlite3.connect('mydatabase.db')
curr = conn.cursor()

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
%sql sqlite:///mydatabase.db

In [5]:
import pandas as pd
df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv')
df.to_sql("SPACEXTBL", conn, if_exists='replace', index=False,method="multi")

101

In [6]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///mydatabase.db
Done.

[]

In [7]:
df

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
96,2020-11-05,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success
97,2020-11-16,0:27:00,F9 B5B1061.1,KSC LC-39A,"Crew-1, Sentinel-6 Michael Freilich",12500,LEO (ISS),NASA (CCP),Success,Success
98,2020-11-21,17:17:08,F9 B5B1063.1,VAFB SLC-4E,"Sentinel-6 Michael Freilich, Starlink 15 v1.0",1192,LEO,NASA / NOAA / ESA / EUMETSAT,Success,Success
99,2020-11-25,2:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success
100,2020-12-06,16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success

In [28]:
%sql select DISTINCT Launch_Site from SPACEXTABLE

 * sqlite:///mydatabase.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

In [13]:
%sql select * from SPACEXTABLE WHERE Launch_Site like 'CCA%' LIMIT 5

 * sqlite:///mydatabase.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [55]:
%sql SELECT sum(PAYLOAD_MASS__KG_) FROM SPACEXTABLE

 * sqlite:///mydatabase.db
Done.

[(619967,)]

In [36]:
%sql SELECT avg(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Booster_Version = 'F9 v1.1'

 * sqlite:///mydatabase.db
Done.

[(2928.4,)]

 * sqlite:///mydatabase.db
(sqlite3.OperationalError) no such column: object_id
[SQL: SELECT * FROM SPACEXTABLE WHERE object_id = OBJECT_ID('TableName')]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [29]:
%sql Select COLUMN_NAME FROM SPACEXTABLE

 * sqlite:///mydatabase.db
(sqlite3.OperationalError) no such column: COLUMN_NAME
[SQL: Select COLUMN_NAME FROM SPACEXTABLE]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [33]:
%sql SPACEXTABLE

 * sqlite:///mydatabase.db
(sqlite3.OperationalError) near "SPACEXTABLE": syntax error
[SQL: SPACEXTABLE]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [34]:
%sql SELECT COLUMN_NAME WHERE TABLE_NAME = SPACEXTABLE

 * sqlite:///mydatabase.db
(sqlite3.OperationalError) no such column: COLUMN_NAME
[SQL: SELECT COLUMN_NAME WHERE TABLE_NAME = SPACEXTABLE]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [37]:
%sql SELECT DISTINCT Landing_Outcome FROM SPACEXTABLE

 * sqlite:///mydatabase.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

In [39]:
%sql SELECT min(Date) FROM SPACEXTABLE Where Landing_Outcome like '%Success%'

 * sqlite:///mydatabase.db
Done.

[('2015-12-22',)]

In [40]:
%sql SELECT Booster_Version FROM SPACEXTABLE WHERE Landing_Outcome = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000

 * sqlite:///mydatabase.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

In [42]:
%sql SELECT COUNT(Date) FROM SPACEXTABLE WHERE Landing_Outcome like '%Success%'

 * sqlite:///mydatabase.db
Done.

[(61,)]

In [43]:
%sql SELECT COUNT(Date) FROM SPACEXTABLE WHERE Landing_Outcome like '%Failure%'

 * sqlite:///mydatabase.db
Done.

[(10,)]

In [46]:
%sql SELECT DISTINCT Booster_Version FROM SPACEXTABLE WHERE PAYLOAD_MASS__KG_ = (Select max(PAYLOAD_MASS__KG_) FROM SPACEXTABLE)

 * sqlite:///mydatabase.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

In [53]:
%sql SELECT Date, Landing_Outcome, Booster_Version FROM SPACEXTABLE WHERE substr(date,0.5) AND Landing_Outcome = 'Failure (drone ship)'

 * sqlite:///mydatabase.db
Done.

[('2015-01-10', 'Failure (drone ship)', 'F9 v1.1 B1012'),
 ('2015-04-14', 'Failure (drone ship)', 'F9 v1.1 B1015'),
 ('2016-01-17', 'Failure (drone ship)', 'F9 v1.1 B1017'),
 ('2016-03-04', 'Failure (drone ship)', 'F9 FT B1020'),
 ('2016-06-15', 'Failure (drone ship)', 'F9 FT B1024')]

In [54]:
%sql SELECT DISTINCT Launch_Site FROM SPACEXTABLE

 * sqlite:///mydatabase.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

In [56]:
61+10/10

62.0

In [58]:
100*61

6100

In [59]:
6100/71

85.91549295774648